[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Visual Studio cache
.vscode/
.vs/
*.csproj
*.sln
*.user
*.unityproj

# OS files
.DS_Store
Thumbs.db

# Archives
*.zip
*.rar
*.7z

# Crash
sysinfo.txt
